{:paths ["src"]

 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/tools.cli {:mvn/version "1.0.214"}}

 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/url "https://github.com/cognitect-labs/test-runner.git"
                       :sha "705ad25bbf0228b1c38d0244a36001c2987d7337"}}
         :main-opts ["-m" "cognitect.test-runner"]}
  
  :run {:main-opts ["-m" "clontext.core"]}
  
  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.5"}}
          :ns-default build}}}